* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

body,
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

button {
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.male {
    border: 5px solid rgb(0, 55, 255);
}
.female {
    border: 5px solid rgb(255, 0, 0);
}

button.male {
    background-color: rgb(0, 55, 255);
}
button.female {
    background-color: rgb(255, 0, 0);
}
